/* Navbar Styles */
.journals-nav {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--clr-white);
    border-bottom: 1px solid var(--clr-grey-3);
  }
  
  .journals-profile-container {
    margin-left: auto;
    position: relative;
  }
  
  .journals-profile-icon {
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--clr-primary-5);
  }
  
  .journals-profile-icon:hover {
    color: var(--clr-primary-7);
  }
  
  .journals-profile-menu {
    position: absolute;
    top: 3rem;
    right: 0;
    background-color: var(--clr-white);
    border: 1px solid var(--clr-grey-3);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    width: 150px;
    display: flex;
    flex-direction: column;
  }
  
  .journals-menu-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--clr-grey-1);
  }
  
  .journals-menu-item:hover {
    background-color: var(--clr-grey-10);
  }
  
  /* For the log in and sign up buttons */
  .journals-nav-auth {
    display: flex;
    gap: 1rem;
  }
  
  .journals-nav-btn {
    padding: 0.5rem 1rem;
    background-color: var(--clr-primary-5);
    color: var(--clr-white);
    text-decoration: none;
    border-radius: var(--radius);
    transition: background-color 0.3s ease;
  }
  
  .journals-nav-btn:hover {
    background-color: var(--clr-primary-7);
  }
  